@charset 'utf-8';
$mainColor-1: #3a84db;
$mainColor-2: #01a187;
$mainColor-3: #464242;
$mainColor-4: #2e2a2a;
$fontColor-1: #615e93;
@keyframes scaleImage {
  100% {
    transform: scale(1);
  }
}
@keyframes fadeInText {
  100% {
    opacity: 0.3;
  }
}
@mixin els {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin lineClamp($h, $num) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  height: $h;
  overflow: hidden;
}
