@charset 'utf-8';
@import "design";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

body {
  font: 16px/1.4 "Noto Sans KR", Malgun Gothic, "맑은 고딕", "dotum", "돋움",
    "Black Han Sans", "AppleGothic", sans-serif;
  font-weight: normal;
}

#header {
  width: 100%;
  position: absolute;
  color: #fff;
  margin: 0 auto;
  background: linear-gradient(180deg, transparent 150px, #fff 60px, #fff);
  height: 150px;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 1;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 85px;
    left: 0;
  }

  .tnb {
    position: relative;
    width: 1200px;
    height: 85px;
    margin: 0 auto;

    .tnb_logo {
      display: block;
      width: 252px;
      height: 49px;
      margin-left: 30px;
      padding-top: 25px;
    }

    .tnb_user {
      position: absolute;
      top: 35px;
      right: 350px;
      clear: both;

      >li {
        float: left;
        display: block;
        padding-right: 42px;

        &:first-child {
          position: relative;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            left: 65px;
            background-color: #fff;
            width: 2px;
            height: 15px;
          }
        }

        &:last-child {
          padding-right: 0;
        }

        >a {
          &:hover {
            color: $mainColor-2;
            font-weight: bold;
          }
        }
      }
    }

    .tnb_form {
      position: absolute;
      top: 25px;
      right: 10px;
      width: 300px;
      height: 40px;
      border: 2px solid #fff;
      border-radius: 20px;

      input[type="search"] {
        width: 240px;
        height: 36px;
        margin: 0;
        margin-left: 20px;
        padding: 0;
        background: none;
        border: none;
        vertical-align: top;
      }

      input[type="submit"] {
        text-indent: -9999px;
        background: url(../img/common/search-icon.png) no-repeat 50% 50%;
        width: 20px;
        height: 36px;
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }

  .gnb {
    position: relative;
    width: 1200px;
    height: 65px;
    margin: 0 auto;

    >.gnb_ul {
      clear: both;
      position: absolute;
      top: 19px;
      right: 70px;

      >li {
        float: left;
        display: block;
        margin-right: 40px;
        font-size: 20px;

        >a {
          position: relative;

          &::before {
            position: absolute;
            content: "";
            width: 0%;
            height: 4px;
            background-color: $mainColor-2;
            bottom: -23px;
            left: 50%;
            transform: translateX(-50%);
            transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
            -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
          }

          &:hover {
            &::before {
              width: 100%;
            }
          }
        }

        &:last-child {
          margin-right: 0px;
        }

        >ul {
          display: none;
          position: absolute;
          clear: both;
          height: 60px;
          line-height: 60px;

          >li {
            color: $mainColor-3;
            float: left;
            font-size: 16px;
            color: $mainColor-3;
            padding: 17px 36px 13px 0px;

            &:hover {
              color: $mainColor-2;
            }
          }
        }

        .gnb_ul_ul-1 {
          left: 0;
        }

        .gnb_ul_ul-2 {
          left: 114px;
        }

        .gnb_ul_ul-3 {
          left: 245px;
        }

        .gnb_ul_ul-4 {
          left: 125px;
        }

        .gnb_ul_ul-5 {
          right: 105px;
        }

        .gnb_ul_ul-6 {
          right: -35px;
        }
      }
    }

    .all-menu-icon {
      position: absolute;
      width: 36px;
      height: 22px;
      top: 20px;
      right: 10px;
      cursor: pointer;
    }
  }
}

#container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  >.all-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    top: -300vh;
    left: 0;
    transition: 0.7s;

    .all-menu-wrap {
      position: relative;
      width: 1200px;
      margin: 0 auto;

      >img {
        position: absolute;
        top: -78px;
        right: 0px;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }

      >.all-menu__ul {
        display: block;
        width: 1200px;
        height: 70vh;
        margin: 0 auto;
        overflow-x: auto;
        overflow-y: scroll;
        margin-top: 170px;
        color: #fff;
        position: relative;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        >li {
          float: left;
          width: 300px;
          height: 370px;
          padding: 0 37px;
          text-align: center;
          display: block;

          >a {
            display: block;
            font-size: 26px;
            padding: 15px 0;
            border-top: 3px solid $mainColor-2;
            border-bottom: 1px solid #fff;
            font-weight: 500;
            cursor: default;
            & .on {
              display: block;
            }
          }

          >ul {
            >li {
              display: block;
              font-size: 18px;
              line-height: 36px;
              text-align: left;

              >a {
                position: relative;

                &::after {
                  content: "";
                  position: absolute;
                  width: 0%;
                  height: 1px;
                  background-color: #fff;
                  left: 0;
                  bottom: 0;
                  transition: width 0.3s;
                }

                &:hover {
                  color: $mainColor-2;

                  &::after {
                    width: 100%;
                  }
                }
              }

              &:first-child {
                padding-top: 5px;
              }
            }
          }
        }
      }

      .all-menu-user_section {
        display: none;
      }
    }
  }

  >.login-form {
    position: fixed;
    width: 360px;
    margin: 0 auto;
    height: 100vh;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: $mainColor-4;
    z-index: 9998;
    top: 0;
    right: -100vw;
    box-shadow: 0px 0px 5px $mainColor-4;
    color: #fff;
    text-align: center;
    transition: 0.5s;

    >.login-logo {
      padding-bottom: 3.125vh; //(640)
      margin-top: 15.625vh; //(640)
    }

    >.close_login {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    >.login-wrap {
      width: 100%;
      height: 50vh;
      overflow-x: auto;
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .int-area {
      position: relative;
      margin: 0 auto;
      width: 300px;
      margin-top: 50px;

      >input {
        width: 100%;
        padding: 20px 10px 10px;
        background: transparent;
        border-style: none;
        border-bottom: 1px solid #999;
        font-size: 18px;
        color: #fff;
        outline: none;

        &:focus+label,
        &:valid+label {
          top: -10px;
          font-size: 16px;
          color: $mainColor-1;
        }
      }

      >label {
        position: absolute;
        top: 17px;
        left: 11px;
        font-size: 18px;
        color: #999;
        transition: all .5s ease;

        &.warning {
          color: $mainColor-6 !important;
          animation: warning .3s ease;
          animation-iteration-count: 3;
        }
      }
    }

    .btn-area {
      margin-top: 7.8125vw; //(640)

      >button {
        width: 250px;
        height: 50px;
        background: $mainColor-1;
        color: #fff;
        font-size: 18px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
      }
    }

    .caption {
      margin-top: 20px;
      text-align: center;

      >a {
        font-size: 15px;
        color: #999;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .bg-slide {
    position: absolute;
    width: 1920px;
    height: 900px;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    transform: scale(1.5);
    animation: scaleImage 5s ease-out forwards;
  }

  .row1 {
    text-align: center;
    padding-top: 18.22916666666667vw; //350px
    padding-bottom: 15.10416666666667vw; //290px
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    animation: fadeInText 5s ease-out forwards;

    >p {
      font-size: 1.041666666666667vw; //20px
      line-height: 2;

      >em {
        font-size: 5.208333333333333vw; //100px
        line-height: 1.2;

        &:first-child {
          font-size: 2.083333333333333vw; //40px
        }
      }
    }
  }

  .row2 {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    margin: 0 auto;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: url(../img/main/bg-row2.png) no-repeat 50% 50%;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .row2-wrap {
      overflow: hidden;
      width: 1200px;
      margin: 0 auto;

      >h2 {
        padding-top: 140px;
        text-align: center;
        font-size: 36px;
        font-weight: 400;

        br {
          display: none;
        }

        >em {
          font-weight: 700;
        }
      }

      >p {
        font-size: 17px;
        text-align: center;

        >em {
          font-weight: 700;
        }
      }

      >.row2_list {
        margin: 0 auto;
        padding-top: 60px;

        >.row2_ul {
          overflow: hidden;

          >li {
            float: left;
            width: 278px;
            height: 360px;
            margin-right: 29.33333333333333px;
            background-color: #fff;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
            overflow: hidden;

            &:last-child {
              margin-right: 0;
            }

            >.hover-scale {
              display: block;
              width: 278px;
              height: 240px;
              overflow: hidden;

              &:hover {
                >img {
                  transform: scale(1.05);
                  -webkit-transform: scale(1.05);
                  -moz-transform: scale(1.05);
                  -ms-transform: scale(1.05);
                  -o-transform: scale(1.05);
                  transition: all 0.3s ease-in-out;
                }
              }
            }

            >p {
              text-align: center;
              padding-top: 10px;
              font-size: 15px;
              color: $mainColor-3;

              em {
                font-size: 20px;
                color: #000;
              }
            }

            >.btn_info {
              display: block;
              text-align: center;
              margin: 10px auto 0;
              width: 72px;
              height: 30px;
              border-radius: 15px;
              line-height: 25px;
              border: 2px solid $mainColor-1;
              color: $mainColor-1;
              background-color: #fff;
              box-shadow: 0 4px 16px rgba(58, 132, 219, 0.1);
              font-size: 14px;
              transition: all 1s, color 0.3s;

              &:hover {
                border: 2px solid #fff;
                color: #fff;
                box-shadow: 70px 0 0 0 rgba(58, 132, 219, 0.7) inset,
                  -70px 0 0 0 rgba(58, 132, 219, 0.7) inset;
              }
            }
          }
        }
      }

      >.row2-slide {
        float: left;
        margin-top: 30px;
        width: 600px;
        height: 250px;
        overflow: hidden;
        position: relative;

        .bx-controls-direction {
          text-indent: -9999px;

          .bx-prev {
            display: block;
            width: 22px;
            height: 50px;
            background: url(../img/main/visual-arr-left.png) no-repeat 0 0;
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
          }

          .bx-next {
            display: block;
            width: 22px;
            height: 50px;
            background: url(../img/main/visual-arr-right.png) no-repeat 0 0;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
          }
        }

        .bx-default-pager {
          .bx-pager-item {
            >a {
              display: block;
              width: 15px;
              height: 15px;
              background-color: transparent;
              border: 2px solid #fff;
              border-radius: 7.5px;
              position: absolute;
              top: 20px;
              right: 40px;
              text-indent: -9999px;

              &.active {
                background-color: #fff;
              }
            }

            &:first-child {
              >a {
                right: 60px;
              }
            }

            &:last-child {
              >a {
                right: 20px;
              }
            }
          }
        }
      }

      >.row2-tabmenu {
        position: relative;
        float: right;
        margin-top: 30px;
        width: 600px;
        height: 250px;
        overflow: hidden;

        >input[type="radio"] {
          position: absolute;
          left: -9999px;

          &:checked {
            +label {
              color: #000;
              font-weight: bold;

              +div {
                display: block;
              }
            }
          }

          &:focus {
            +label {
              &::before {
                display: block;
              }
            }
          }

          +label {
            &::before {
              display: none;
            }

            +div {
              display: none;
            }
          }
        }

        label {
          &::before {
            position: absolute;
            top: 30px;
            left: 76px;
            content: "";
            border-top: 6px solid $mainColor-3;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: none;
            color: $mainColor-4;
            z-index: 2;
          }

          &::after {
            content: "";
            display: block;
            width: 2px;
            height: 15px;
            background-color: #ccc;
            position: absolute;
            top: 4px;
            left: 173px;
          }
        }

        .main-tabmenu-label-1 {
          position: absolute;
          top: 20px;
          left: 20px;
          z-index: 2;
        }

        .main-tabmenu-label-2 {
          position: absolute;
          top: 20px;
          left: 207px;
          z-index: 2;

          &::before {
            left: 24px;
          }

          &::after {
            left: 70px;
          }
        }

        .main-tabmenu-label-3 {
          position: absolute;
          top: 20px;
          left: 290px;
          z-index: 2;

          &::before {
            left: 30px;
          }

          &::after {
            display: none;
          }
        }

        >div {
          background-color: #fff;
          width: 600px;
          height: 250px;
          padding-top: 65px;
          padding-left: 30px;
          font-size: 16px;
          color: $mainColor-3;
          line-height: 2;

          >p {
            position: absolute;
            top: 20px;
            right: 40px;
            font-size: 14px;
          }
        }

        >.main-tabmenu-div2 {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
        }

        >.main-tabmenu-div3 {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
        }

        .main-tabmenu-txt {
          width: 100%;

          >li {
            display: block;
            height: 34px;
            line-height: 34px;

            >a {
              width: 400px;
              height: 34px;
              line-height: 34px;
              display: inline-block;
              @include els;
            }

            >span {
              position: absolute;
              right: 40px;
              height: 34px;
              line-height: 34px;
            }
          }
        }
      }
    }
  }

  .row3 {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      width: 100%;
      height: 300px;
      background-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &::after {
      content: "";
      display: block;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background: url(../img/main/row3-bg-img.png) no-repeat 50% 50%;
      background-size: cover;
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: -9999;
    }

    .row3-wrap {
      width: 1200px;
      margin: 0 auto;
      height: 300px;
      text-align: center;
      color: #fff;
      position: relative;

      h3 {
        padding-top: 70px;
        font-size: 30px;
        font-weight: normal;

        br {
          display: none;
        }

        >em {
          font-weight: bold;
        }
      }

      ul {
        clear: both;
        overflow: hidden;
        padding-top: 40px;

        >li {
          float: left;
          width: 25%;
          padding: 0 10px;
          font-size: 40px;
          font-weight: bold;
        }
      }

      .row3-txt {
        clear: both;
        overflow: hidden;
        position: absolute;
        padding-top: 0;
        top: 205px;
        width: 100%;

        >li {
          float: left;
          width: 25%;
          font-size: 18px;
          font-weight: normal;
        }
      }
    }
  }

  .row4 {
    width: 100%;
    height: 1010px;
    margin: 0 auto;
    background: #fff;

    .row4-wrap {
      width: 1200px;
      text-align: center;
      margin: 0 auto;
      position: relative;

      >h2 {
        padding-top: 100px;
        color: $mainColor-1;
        font-size: 48px;
        font-weight: normal;

        br {
          display: none;
        }

        >em {
          font-weight: bold;
        }
      }

      >p {
        font-size: 18px;
      }

      >ul {
        height: 740px;
        overflow: hidden;

        >li {
          position: relative;
          text-align: left;

          &:hover {
            img:first-child {
              transform: scale(1.05);
              -webkit-transform: scale(1.05);
              -moz-transform: scale(1.05);
              -ms-transform: scale(1.05);
              -o-transform: scale(1.05);
              transition: all 0.5s ease-in-out;
            }
          }
        }

        .sub-img-1 {
          margin-top: 100px;
          width: 738px;
          height: 310px;
          overflow: hidden;

          >a {
            >.txt-img {
              position: absolute;
              top: 45px;
              left: 50px;
            }

            >span {
              position: absolute;
              top: 93px;
              left: 50px;
              color: $mainColor-4;

              >em:first-child {
                font-family: "Black Han Sans", "Noto Sans KR", "맑은 고딕",
                  sans-serif;
                font-size: 32px;
                line-height: 1;
                color: #000;
              }

              >em:last-child {
                text-decoration: underline;
                font-size: 18px;
              }
            }
          }
        }

        .sub-img-2 {
          margin-top: 20px;
          width: 738px;
          height: 310px;
          overflow: hidden;

          >a {
            >.txt-img {
              position: absolute;
              top: 45px;
              left: 50px;
            }

            >span {
              position: absolute;
              top: 93px;
              left: 50px;
              color: $mainColor-4;

              >em:first-child {
                font-family: "Black Han Sans", "Noto Sans KR", "맑은 고딕",
                  sans-serif;
                font-size: 32px;
                line-height: 1;
                color: #000;
              }

              >em:last-child {
                text-decoration: underline;
                font-size: 18px;
              }
            }
          }
        }

        .sub-img-3 {
          margin-top: 0px;
          margin-left: 0px;
          width: 442px;
          height: 640px;
          top: -640px;
          left: 758px;
          text-align: center;
          overflow: hidden;

          .img-mobile {
            display: none;
          }

          >a {
            >.txt-img {
              position: absolute;
              top: 45px;
              left: 181px;
            }

            >span {
              position: absolute;
              top: 90px;
              left: 51px;
              color: $mainColor-4;
              line-height: 1.4;

              >em:first-child {
                font-family: "Black Han Sans", "Noto Sans KR", "맑은 고딕",
                  sans-serif;
                font-size: 32px;
                color: #000;
              }

              >em:last-child {
                text-decoration: underline;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

#footer {
  width: 100%;
  height: 200px;
  background: #fff;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    background-color: transparent;
  }

  >.footer-wrap {
    width: 1200px;
    margin: 0 auto;

    >.footer-sec-1 {
      position: relative;
      height: 60px;
      line-height: 60px;

      >ul {
        overflow: hidden;

        >li {
          float: left;
          margin: 0 45px;
          color: $mainColor-3;
        }
      }
    }

    >.footer-sec-2 {
      position: relative;

      >.sec-2-address {
        position: absolute;
        top: 20px;
        left: 45px;
        color: $mainColor-3;
      }

      >.sec-2-visit-num {
        >ul {
          >li:nth-child(1) {
            position: absolute;
            top: 30px;
            right: 255px;
            width: 143px;

            >.sec-2-txt {
              color: #c5c5c5;
              font-size: 16px;

              +span {
                font-size: 30px;
              }
            }
          }

          >li:nth-child(2) {
            position: absolute;
            top: 30px;
            right: 70px;
            text-align: left;

            >.sec-2-txt {
              color: #c5c5c5;
              font-size: 16px;

              +span {
                font-size: 30px;
              }
            }
          }
        }
      }
    }
  }

  >.btn-top {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 0px;
    bottom: 0px;
  }
}

@media(min-width : 768px)and(max-width : 1199px) {
  #header {
    width: 100%;
    height: 80px;

    &::before {
      content: '';
      width: 200px;
      height: 40px;
      background: url(../img/common/logo-formal.png) no-repeat 50% 50%;
      background-size: cover;
      top: 20px;
      left: 10px;
    }

    .tnb {
      display: none;
    }

    .gnb {
      width: 100%;
      height: 80px;

      >.gnb_ul {
        display: none;
      }

      .all-menu-icon {
        top: 30px;
        right: 20px;
      }
    }
  }

  #container {
    .all-menu {
      position: fixed;
      width: 260px;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.9);
      top: 0;
      left: -300vw;
      transition: 0.7s;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;

      .all-menu-wrap {
        position: relative;
        width: 100%;
        margin: 0 auto;

        >img {
          position: absolute;
          top: 0px;
          right: -40px;
          width: 40px;
          height: 40px;
          cursor: pointer;
          box-shadow: 3px 0 5px gray;
        }

        >.all-menu-user_section {
          margin: 20px;
          display: block;
          font-size: 16px;
          text-align: center;
          color: #fff;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 102px;
            top: 5px;
            width: 1px;
            height: 17px;
            background-color: #fff;
          }

          .all-menu-signup {
            margin-left: 20px;
          }
        }

        >.all-menu__ul {
          display: block;
          width: 100%;
          height: 60vh;
          margin: 0 auto;
          overflow-x: auto;
          overflow-y: scroll;
          margin-top: 100px;
          color: #fff;
          position: relative;
          -ms-overflow-style: none;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }

          >li {
            float: none;
            width: auto;
            height: auto;
            padding: 0;
            text-align: center;
            position: relative;

            &:last-child {
              border-bottom: 1px solid $mainColor-2;
            }

            >a {
              position: relative;
              font-size: 22px;
              height: 40px;
              line-height: 40px;
              text-align: left;
              text-indent: 20px;
              padding: 0;
              border-top: 1px solid $mainColor-2;
              border-bottom: none;
              font-weight: normal;
              &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 25px;
                top: 7.5px;
                right: 10px;
                background: url(../img/common/plus_i.png) no-repeat 50% 50%;
                background-size: cover;
                cursor: pointer;
              }
              &.on {
                &::after {
                  background: url(../img/common/minus_i.png);
                }
              }
            }

            >ul {
              display: none;

              >li {
                font-size: 16px;
                height: 30px;
                line-height: 30px;
                text-align: left;
                text-indent: 30px;

                &:first-child {
                  padding-top: 0;
                  border-top: 1px solid #fff;
                }

                &:last-child {
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }
    }

    .login-form {
      z-index: 9999;
    }

    .bg-slide {
      height: 550px;
      top: 0;
      left: 0;
      bottom: 0;
    }

    .row1 {
      width: 100%;
      height: 550px;
      padding: 180px 20px 0px 20px;
      white-space: initial;
      word-break: keep-all;

      >p {
        font-size: 15px;

        em {
          font-size: 55px;

          &:first-child {
            font-size: 23px;
          }
        }
      }
    }

    .row2 {
      .row2-wrap {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        word-break: keep-all;

        >h2 {
          padding-top: 70px;
          font-size: 36px;

          br {
            display: block;
          }
        }

        >p {
          font-size: 17px;
          text-align: center;
        }

        .row2_list {
          width: auto;
          margin: 0 auto;
          padding-top: 40px;

          >.row2_ul {
            width: 100%;
            margin: 0 auto;
            overflow: hidden;

            >li {
              width: 23.16666666666667vw; //278px
              height: 30vw; //240px
              margin-right: 1.5vw; //18px

              >.hover-scale {
                width: 23.16666666666667vw; //278px
                height: 20vw; //240px
              }

              >p {
                font-size: 1.5vw; //15px(1000)

                em {
                  font-size: 2vw; //20px(1000)
                }
              }

              >.btn_info {
                width: 7.2vw; //72px(1000)
                height: 3vw; //30px(1000)
                border-radius: 1.5vw; //15px(1000)
                line-height: 2.5vw; //25px(1000)
                font-size: 1.4vw; //14px(1000)
                margin-top: 0.5vw; //5px(1000)
              }
            }
          }
        }

        .row2-slide {
          float: none;
          margin: 0 auto;
          margin-top: 30px;
          width: 100% !important;
          height: 100%;

          .bx-controls-direction {
            display: none;
          }

          .bx-default-pager {
            .bx-pager-item {
              >a {
                right: 60px;
              }

              &:first-child {
                >a {
                  right: 80px;
                }
              }

              &:last-child {
                >a {
                  right: 40px
                }
              }
            }
          }

          .bx-wrapper {
            max-width: 100% !important;
          }

          >.row2_slide_wrap {
            display: block;
            margin: 0 auto;
          }
        }

        .row2-tabmenu {
          float: none;
          margin-top: 0;
          width: 100%;

          >div {
            width: 100%;
          }

          .main-tabmenu-txt {
            >li {
              a {
                width: 52.15123859191656vw;
              }
            }
          }
        }
      }
    }

    .row3 {
      width: 100%;
      height: 300px;
      word-break: keep-all;

      &::before {
        height: 300px;
      }

      .row3-wrap {
        width: 100%;
        height: 300px;
      }
    }

    .row4 {
      width: 100%;
      height: 100%;

      .row4-wrap {
        width: 100%;
        height: 100%;

        >h2 {
          font-size: 36px;
          padding-top: 70px;

          br {
            display: none;
          }
        }

        >p {
          font-size: 17px;
          padding-bottom: 40px;
        }

        >ul {
          margin: 0 20px;
          height: 64.16666666666667vw; //770px
          overflow: hidden;

          >li {
            position: relative;
            text-align: left;
          }

          .sub-img-1 {
            margin-top: 8.333333333333333vw; //100px
            width: 61.5vw; //738px
            height: 25.83333333333333vw; //310px
            overflow: hidden;

            >a {
              >.txt-img {
                position: absolute;
                top: 3.75vw; //45px
                left: 4.166666666666667vw; //50px
              }

              >span {
                position: absolute;
                top: 7.75vw; //95px
                left: 4.166666666666667vw; //50px
                color: $mainColor-4;

                >em:first-child {
                  font-family: "Black Han Sans", "Noto Sans KR", "맑은 고딕",
                    sans-serif;
                  font-size: 2.666666666666667vw; //32px
                  line-height: 1;
                  color: #000;
                }

                >em:last-child {
                  text-decoration: underline;
                  font-size: 1.5vw; //18px
                }
              }
            }
          }

          .sub-img-2 {
            margin-top: 20px;
            width: 61.5vw;
            height: 25.83333333333333vw;
            overflow: hidden;

            >a {
              >.txt-img {
                position: absolute;
                top: 3.75vw;
                left: 4.166666666666667vw;
              }

              >span {
                position: absolute;
                top: 7.75vw;
                left: 4.166666666666667vw;
                color: $mainColor-4;

                >em:first-child {
                  font-family: "Black Han Sans", "Noto Sans KR", "맑은 고딕",
                    sans-serif;
                  font-size: 2.666666666666667vw;
                  line-height: 1;
                  color: #000;
                }

                >em:last-child {
                  text-decoration: underline;
                  font-size: 1.5vw;
                }
              }
            }
          }

          .sub-img-3 {
            margin-top: 0px;
            margin-left: 0px;
            width: 36.83333333333333vw; //442px
            height: 53.33333333333333vw; //640px
            top: -53.33333333333333vw; //-640px
            left: 63.16666666666667vw; //758px
            text-align: center;
            overflow: hidden;

            .img-mobile {
              display: none;
            }

            >a {
              >.txt-img {
                position: absolute;
                top: 3.75vw; //45px
                left: 12.58333333333333vw; //151px
              }

              >span {
                position: absolute;
                top: 7.5vw; //90px
                left: 2.583333333333333vw; //31px
                color: $mainColor-4;
                line-height: 1.4;

                >em:first-child {
                  font-family: "Black Han Sans", "Noto Sans KR", "맑은 고딕",
                    sans-serif;
                  font-size: 2.666666666666667vw; //32px
                  color: #000;
                }

                >em:last-child {
                  text-decoration: underline;
                  font-size: 1.5vw; //18px
                }
              }
            }
          }
        }
      }
    }
  }

  #footer {
    height: 100%;

    &::before {
      display: none;
    }

    >.footer-wrap {
      width: 100%;

      >.footer-sec-1 {
        display: none;
      }

      >.footer-sec-2 {
        >.sec-2-address {
          display: none;
        }

        >.sec-2-visit-num {
          >ul {
            overflow: hidden;
            clear: both;
            padding: 20px 0;
            margin: 0 20px;
            border-top: 1px solid #ccc;

            >li:nth-child(1) {
              position: static;
              float: left;
              width: 50%;
              text-align: center;
            }

            >li:nth-child(2) {
              position: static;
              float: left;
              width: 50%;
              text-align: center;
            }
          }

          &::after {
            content: 'COPYRIGHT (C) (주)유성 ALL RIGHTS RESEVED';
            display: block;
            width: 100%;
            height: 30px;
            background-color: #fff;
            text-align: center;
          }
        }
      }
    }

    >.btn-top {
      width: 50px;
      height: 50px;
      position: fixed;
      right: 0px;
      bottom: 0px;
    }
  }
}

@media (max-width: 767px) {
  #header {
    width: 100%;
    height: 80px;

    &::before {
      content: '';
      width: 200px;
      height: 40px;
      background: url(../img/common/logo-formal.png) no-repeat 50% 50%;
      background-size: cover;
      top: 20px;
      left: 10px;
    }

    .tnb {
      display: none;
    }

    .gnb {
      width: 100%;
      height: 80px;

      >.gnb_ul {
        display: none;
      }

      .all-menu-icon {
        top: 30px;
        right: 20px;
      }
    }
  }

  #container {
    .all-menu {
      position: fixed;
      width: 260px;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.9);
      top: 0;
      left: -300vw;
      transition: 0.7s;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;

      .all-menu-wrap {
        position: relative;
        width: 100%;
        margin: 0 auto;

        >img {
          position: absolute;
          top: 0px;
          right: -40px;
          width: 40px;
          height: 40px;
          cursor: pointer;
          box-shadow: 3px 0 5px gray;
        }

        >.all-menu-user_section {
          margin: 20px;
          display: block;
          font-size: 16px;
          text-align: center;
          color: #fff;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 102px;
            top: 5px;
            width: 1px;
            height: 17px;
            background-color: #fff;
          }

          .all-menu-signup {
            margin-left: 20px;
          }
        }

        >.all-menu__ul {
          display: block;
          width: 100%;
          height: 60vh;
          margin: 0 auto;
          overflow-x: auto;
          overflow-y: scroll;
          margin-top: 100px;
          color: #fff;
          position: relative;
          -ms-overflow-style: none;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            display: none;
          }

          >li {
            float: none;
            width: auto;
            height: auto;
            padding: 0;
            text-align: center;
            position: relative;

            &:last-child {
              border-bottom: 1px solid $mainColor-2;
            }

            >a {
              position: relative;
              font-size: 22px;
              height: 40px;
              line-height: 40px;
              text-align: left;
              text-indent: 20px;
              padding: 0;
              border-top: 1px solid $mainColor-2;
              border-bottom: none;
              font-weight: normal;
              &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 25px;
                top: 7.5px;
                right: 10px;
                background: url(../img/common/plus_i.png) no-repeat 50% 50%;
                background-size: cover;
                cursor: pointer;
              }
              &.on {
                &::after {
                  background: url(../img/common/minus_i.png);
                }
              }
            }

            >ul {
              display: none;

              >li {
                font-size: 16px;
                height: 30px;
                line-height: 30px;
                text-align: left;
                text-indent: 30px;

                &:first-child {
                  padding-top: 0;
                  border-top: 1px solid #fff;
                }

                &:last-child {
                  margin-bottom: 5px;
                }
              }
            }
          }
        }
      }
    }

    .login-form {
      z-index: 9999;
    }

    .bg-slide {
      height: 550px;
      top: 0;
      left: 0;
      bottom: 0;
    }

    .row1 {
      width: 100%;
      height: 550px;
      padding: 180px 20px 0px 20px;
      white-space: initial;
      word-break: keep-all;

      >p {
        font-size: 15px;

        em {
          font-size: 55px;

          &:first-child {
            font-size: 23px;
          }
        }

        >br:last-child {
          display: none;
        }
      }
    }

    .row2 {
      .row2-wrap {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        word-break: keep-all;

        &::before {
          width: 100%;
          height: 100%;
        }

        >h2 {
          padding-top: 70px;
          font-size: 30px;

          br {
            display: block;
          }
        }

        >p {
          font-size: 14px;
        }

        .row2_list {
          text-align: center;
          padding-top: 40px;

          >.row2_ul {
            margin: 0 auto;

            >li {
              width: 46.74054758800522vw; //358.5px
              height: 57.36636245110821vw; //440px
              margin: 5px;
              padding: 0;

              &:nth-child(2n) {
                margin-left: 0;
              }

              &:nth-child(3),
              &:nth-child(4) {
                margin-top: 10px;
              }

              >.hover-scale {
                width: 46.74054758800522vw; //358.5px
                height: 41.72099087353325vw; //320px

                >img {
                  width: 46.74054758800522vw; //358.5px
                  height: 41.72099087353325vw; //320px
                }
              }

              >p {
                padding-top: 1.303780964797914vw; //10px;
                font-size: 2.307692307692308vw; //15px(650)

                em {
                  font-size: 3.076923076923077vw; //20px(650)
                }
              }

              >.btn_info {
                margin-top: 0.7692307692307692vw; //5px(650)
              }
            }
          }
        }

        .row2-slide {
          float: none;
          margin: 0 auto;
          margin-top: 30px;
          width: 100% !important;
          height: 100%;

          .bx-controls-direction {
            display: none;
          }

          .bx-default-pager {
            .bx-pager-item {
              >a {
                right: 60px;
              }

              &:first-child {
                >a {
                  right: 80px;
                }
              }

              &:last-child {
                >a {
                  right: 40px
                }
              }
            }
          }

          .bx-wrapper {
            max-width: 100% !important;
          }

          >.row2_slide_wrap {
            display: block;
            margin: 0 auto;
          }
        }

        .row2-tabmenu {
          float: none;
          margin-top: 0;
          width: 100%;

          >div {
            width: 100%;
          }

          .main-tabmenu-txt {
            >li {
              a {
                width: 52.15123859191656vw;
              }
            }
          }
        }
      }
    }

    .row3 {
      width: 100%;
      height: 550px;
      word-break: keep-all;

      &::before {
        height: 550px;
      }

      .row3-wrap {
        width: 100%;
        height: 550px;

        h3 {
          font-size: 26px;

          br {
            display: block;
          }
        }

        .row3-threshold {
          >li {
            float: left;
            width: 50%;
            padding: 50px 0;
          }
        }

        .row3-txt {
          top: 235px;

          >li {
            width: 50%;
            padding: 45px 10px;

            &:nth-child(3),
            &:nth-child(4) {
              padding-top: 85px;
            }
          }
        }
      }
    }

    .row4 {
      width: 100%;
      height: 100%;

      .row4-wrap {
        width: 100%;

        >h2 {
          font-size: 30px;
          padding-top: 70px;

          br {
            display: block;
          }
        }

        >p {
          font-size: 14px;
          padding-bottom: 40px;
        }

        >ul {
          margin: 0 20px;
          height: 100%;

          >li {
            margin-bottom: 20px;
          }

          .sub-img-1 {
            position: relative;
            margin-top: 0;
            width: 100%;
            height: auto;
            overflow: hidden;

            >a {
              >.txt-img {
                position: absolute;
                width: 15vw; //54px(360)
                height: 5.555555555555556vw; //20px(360)
                top: 4.166666666666667vw; //15px(360)
                left: 4.166666666666667vw; //15px(360)
              }

              >span {
                top: 11.11111111111111vw; //40px(360)
                left: 5.555555555555556vw; //20px(360)
                font-size: 3.611111111111111vw; //13px(360)

                >em:first-child {
                  font-size: 5.555555555555556vw; //20px(360)
                }

                >em:last-child {
                  font-size: 3.888888888888889vw; //14px(360)
                }
              }
            }
          }

          .sub-img-2 {
            margin-top: 0;
            width: 100%;
            height: auto;
            overflow: hidden;

            >a {
              >.txt-img {
                position: absolute;
                width: 15vw; //54px(360)
                height: 5.555555555555556vw; //20px(360)
                top: 4.166666666666667vw; //15px(360)
                left: 4.166666666666667vw; //15px(360)
              }

              >span {
                top: 11.11111111111111vw; //40px(360)
                left: 5.555555555555556vw; //20px(360)
                font-size: 3.611111111111111vw; //13px(360)

                >em:first-child {
                  font-size: 5.555555555555556vw; //20px(360)
                }

                >em:last-child {
                  font-size: 3.888888888888889vw; //14px(360)
                }
              }
            }
          }

          .sub-img-3 {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            overflow: hidden;
            text-align: left;

            >a {
              >.txt-img {
                position: absolute;
                width: 15vw; //54px(360)
                height: 5.555555555555556vw; //20px(360)
                top: 4.166666666666667vw; //15px(360)
                left: 4.166666666666667vw; //15px(360)
              }

              >span {
                top: 11.11111111111111vw; //40px(360)
                left: 5.555555555555556vw; //20px(360)
                font-size: 3.611111111111111vw; //13px(360)

                >em:first-child {
                  font-size: 5.555555555555556vw; //20px(360)
                }

                >em:last-child {
                  font-size: 3.888888888888889vw; //14px(360)
                }
              }
            }

            .img-pc {
              display: none;
            }

            .img-mobile {
              display: block;
            }
          }
        }
      }
    }
  }

  #footer {
    height: 100%;

    &::before {
      display: none;
    }

    >.footer-wrap {
      width: 100%;

      >.footer-sec-1 {
        display: none;
      }

      >.footer-sec-2 {
        >.sec-2-address {
          display: none;
        }

        >.sec-2-visit-num {
          >ul {
            overflow: hidden;
            clear: both;
            padding: 20px 0;
            margin: 0 20px;
            border-top: 1px solid #ccc;

            >li:nth-child(1) {
              position: static;
              float: left;
              width: 50%;
              text-align: center;
            }

            >li:nth-child(2) {
              position: static;
              float: left;
              width: 50%;
              text-align: center;
            }
          }

          &::after {
            content: 'COPYRIGHT (C) (주)유성 ALL RIGHTS RESEVED';
            display: block;
            width: 100%;
            height: 30px;
            background-color: #fff;
            text-align: center;
          }
        }
      }
    }

    >.btn-top {
      width: 40px;
      height: 40px;
      position: fixed;
      right: 0px;
      bottom: 0px;
    }
  }
}

@media (max-width: 500px) {
  #container {
    .row2 {
      >.row2-wrap {
        >.row2_list {
          >.row2_ul {
            >li {
              height: 286px !important;
            }

            p {
              font-size: 12px !important;

              >em {
                font-size: 15px !important;
              }
            }
          }
        }
      }

      .row2-tabmenu {
        >label {
          font-size: 14px;

          &::after {
            height: 13px !important;
            left: 158px !important;
          }
        }

        .main-tabmenu-label-2 {
          left: 197px !important;

          &::after {
            left: 62px !important;
          }
        }

        .main-tabmenu-label-3 {
          left: 270px !important;
        }

        .main-tabmenu-txt {
          +p {
            a {
              display: none;
            }
          }
        }
      }
    }
  }
}