@charset 'utf-8';
@import "design";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

body {
    font: 16px/1.4 "Noto Sans KR", Malgun Gothic, "맑은 고딕", "dotum", "돋움",
        "Black Han Sans", "AppleGothic", sans-serif;
    font-weight: normal;
}

#header {
    width: 100%;
    position: absolute;
    color: #fff;
    margin: 0 auto;
    background: linear-gradient(180deg, transparent 150px, #fff 60px, #fff);
    height: 150px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.3);
        position: absolute;
        top: 85px;
        left: 0;
    }

    .tnb {
        position: relative;
        width: 1200px;
        height: 85px;
        margin: 0 auto;

        .tnb_logo {
            display: block;
            width: 252px;
            height: 49px;
            margin-left: 30px;
            padding-top: 25px;
        }

        .tnb_user {
            position: absolute;
            top: 35px;
            right: 350px;
            clear: both;

            >li {
                float: left;
                display: block;
                padding-right: 42px;

                &:first-child {
                    position: relative;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 5px;
                        left: 65px;
                        background-color: #fff;
                        width: 2px;
                        height: 15px;
                    }
                }

                &:last-child {
                    padding-right: 0;
                }

                >a {
                    &:hover {
                        color: $mainColor-2;
                        font-weight: bold;
                    }
                }
            }
        }

        .tnb_form {
            position: absolute;
            top: 25px;
            right: 10px;
            width: 300px;
            height: 40px;
            border: 2px solid #fff;
            border-radius: 20px;

            input[type="search"] {
                width: 240px;
                height: 36px;
                margin: 0;
                margin-left: 20px;
                padding: 0;
                background: none;
                border: none;
                vertical-align: top;
            }

            input[type="submit"] {
                text-indent: -9999px;
                background: url(../img/common/search-icon.png) no-repeat 50% 50%;
                width: 20px;
                height: 36px;
                margin: 0;
                padding: 0;
                border: none;
            }
        }
    }

    .gnb {
        position: relative;
        width: 1200px;
        height: 65px;
        margin: 0 auto;

        >.gnb_ul {
            clear: both;
            position: absolute;
            top: 19px;
            right: 70px;

            >li {
                float: left;
                display: block;
                margin-right: 40px;
                font-size: 20px;

                >a {
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        width: 0%;
                        height: 4px;
                        background-color: $mainColor-2;
                        bottom: -23px;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                        -webkit-transition: width 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
                    }

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }
                }

                &:last-child {
                    margin-right: 0px;
                }

                >ul {
                    display: none;
                    position: absolute;
                    clear: both;
                    height: 60px;
                    line-height: 60px;

                    >li {
                        color: $mainColor-3;
                        float: left;
                        font-size: 16px;
                        color: $mainColor-3;
                        padding: 17px 36px 13px 0px;

                        &:hover {
                            color: $mainColor-2;
                        }
                    }
                }

                .gnb_ul_ul-1 {
                    left: 0;
                }

                .gnb_ul_ul-2 {
                    left: 114px;
                }

                .gnb_ul_ul-3 {
                    left: 245px;
                }

                .gnb_ul_ul-4 {
                    left: 125px;
                }

                .gnb_ul_ul-5 {
                    right: 105px;
                }

                .gnb_ul_ul-6 {
                    right: -35px;
                }
            }
        }

        .all-menu-icon {
            position: absolute;
            width: 36px;
            height: 22px;
            top: 20px;
            right: 10px;
            cursor: pointer;
        }
    }
}
#container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    // common //
    >.all-menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 9999;
        top: -300vh;
        left: 0;
        transition: 0.7s;
    
        .all-menu-wrap {
          position: relative;
          width: 1200px;
          margin: 0 auto;
    
          >img {
            position: absolute;
            top: -78px;
            right: 0px;
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
    
          >.all-menu__ul {
            display: block;
            width: 1200px;
            height: 70vh;
            margin: 0 auto;
            overflow-x: auto;
            overflow-y: scroll;
            margin-top: 170px;
            color: #fff;
            position: relative;
            -ms-overflow-style: none;
            scrollbar-width: none;
    
            &::-webkit-scrollbar {
              display: none;
            }
    
            >li {
              float: left;
              width: 300px;
              height: 370px;
              padding: 0 37px;
              text-align: center;
              display: block;
    
              >a {
                display: block;
                font-size: 26px;
                padding: 15px 0;
                border-top: 3px solid $mainColor-2;
                border-bottom: 1px solid #fff;
                font-weight: 500;
                cursor: default;
                & .on {
                  display: block;
                }
              }
    
              >ul {
                >li {
                  display: block;
                  font-size: 18px;
                  line-height: 36px;
                  text-align: left;
    
                  >a {
                    position: relative;
    
                    &::after {
                      content: "";
                      position: absolute;
                      width: 0%;
                      height: 1px;
                      background-color: #fff;
                      left: 0;
                      bottom: 0;
                      transition: width 0.3s;
                    }
    
                    &:hover {
                      color: $mainColor-2;
    
                      &::after {
                        width: 100%;
                      }
                    }
                  }
    
                  &:first-child {
                    padding-top: 5px;
                  }
                }
              }
            }
          }
    
          .all-menu-user_section {
            display: none;
          }
        }
      }

    >.login-form {
        position: fixed;
        width: 360px;
        margin: 0 auto;
        height: 100vh;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        background: $mainColor-4;
        z-index: 9998;
        top: 0;
        right: -100vw;
        box-shadow: 0px 0px 5px $mainColor-4;
        color: #fff;
        text-align: center;
        transition: 0.5s;

        >.login-logo {
            padding-bottom: 3.125vh; //(640)
            margin-top: 15.625vh; //(640)
        }

        >.close_login {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        >.login-wrap {
            width: 100%;
            height: 55vh;
            overflow-x: auto;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .int-area {
            position: relative;
            margin: 0 auto;
            width: 300px;
            margin-top: 50px;

            >input {
                width: 100%;
                padding: 20px 10px 10px;
                background: transparent;
                border-style: none;
                border-bottom: 1px solid #999;
                font-size: 18px;
                color: #fff;
                outline: none;

                &:focus+label,
                &:valid+label {
                    top: -10px;
                    font-size: 16px;
                    color: $mainColor-1;
                }
            }

            >label {
                position: absolute;
                top: 17px;
                left: 11px;
                font-size: 18px;
                color: #999;
                transition: all .5s ease;

                &.warning {
                    color: $mainColor-6 !important;
                    animation: warning .3s ease;
                    animation-iteration-count: 3;
                }
            }
        }

        .btn-area {
            margin-top: 7.8125vw; //(640)

            >button {
                width: 250px;
                height: 50px;
                background: $mainColor-1;
                color: #fff;
                font-size: 18px;
                border: none;
                border-radius: 25px;
                cursor: pointer;
            }
        }

        .caption {
            margin-top: 20px;
            text-align: center;

            >a {
                font-size: 15px;
                color: #999;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    >.bg-slide {
        position: absolute;
        width: 1920px;
        height: 350px;
        overflow: hidden;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    }

    >.sub-title-txt {
        width: 100%;
        height: 350px;
        text-align: center;
        padding-top: 210px;
        padding-bottom: 75px;
        color: #fff;

        >h2 {
            font-size: 40px;
            font-weight: bold;
        }
    }
    // details //
    .icon-img-wrap{
        width: 100%;
        margin: 0 auto;
        color: $mainColor-3;
        .icon-img{
            width: 1200px;
            margin: 0 auto;
            overflow: hidden;
            > li{
                position: relative;
                width: 25%;
                height: 300px;
                float: left;
                >a {
                    position: relative;
                    margin: 0 auto;
                    margin-top: 50px;
                    display: block;
                    width: 150px;
                    height: 150px;
                    border-radius: 75px;
                    background-color: #2471c8;
                    border: 1px solid #ccc;
                    >img{
                        position: absolute;
                        width: 44px;
                        height: 40px;
                        top: 65px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: 65px;
                        right: -75px;
                        width: 14px;
                        height: 26px;
                        background: url(../img/sub3/arr-right.png) no-repeat 0 0;
                        background-size: cover;
                    }
                }
                &:nth-child(4){
                    >a{
                        &::after{
                            display: none;
                        }
                    }
                }
                >span{
                    position: absolute;
                    top: 85px;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 13px;
                    color: #fff;
                    >em{
                        position: absolute;
                        width: 100px;
                        height: 20px;
                        text-align: center;
                        bottom: -120px;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 15px;
                        color: $mainColor-4;
                    }
                }
            }
        }
    }
    .join-wrap{
        width: 100%;
        margin: 0 auto;
        color: $mainColor-3;
        >.step1{
            width: 1200px;
            margin: 0 auto;
            border-bottom: 1px solid #ccc;
            >h3{
                color: $mainColor-4;
                font-size: 30px;
                border-bottom: 2px solid $mainColor-4;
            }
            >div{
                position: relative;
                padding: 30px;
                >div{
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                >form{
                    position: absolute;
                    top: 40px;
                    right: 30px;
                }
                >p{
                    width: 1140px;
                    height: 180px;
                    overflow: scroll;
                    font-size: 13px;
                    border: 1px solid #ccc;
                    padding: 30px;
                    color: $mainColor-3;
                }
            }
            >a{
                display: block;
                margin: 0 auto;
                width: 300px;
                height: 52px;
                line-height: 52px;
                box-shadow: 0 0 3px gray;
                text-align: center;
                background: $mainColor-1;
                font-size: 18px;
                color: #fff;
                border-radius: 26px;
                margin-bottom: 30px;
            }
        }
        >.step2{
            width:1200px;
            margin: 0 auto;
            margin-top: 100px;
            margin-bottom: 100px;
            >h3{
                color: $mainColor-4;
                font-size: 30px;
                border-bottom: 2px solid $mainColor-4;
            }
            .step2-txt_1{
                width: 100%;
                height: 133px;
                padding: 30px 297.5px;
                overflow: hidden;
                margin: 0 auto;
                border-bottom: 1px solid #ccc;
                >img{
                    float: left;
                    width: 70px;
                    height: 70px;
                }
                >div{
                    width: 385px;
                    float: left;
                    padding: 14px 30px;
                    font-size: 15px;
                    >h4{
                        color: $mainColor-4;
                    }
                }
                >a{
                    display: block;
                    float: left;
                    content: '';
                    width: 150px;
                    height: 40px;
                    border-radius: 20px;
                    box-shadow: 0 0 3px gray;
                    line-height: 40px;
                    text-align: center;
                    background-color: $mainColor-1;
                    color: #fff;
                    margin: 15px 0;
                }
            }
            .step2-txt_2{
                >ul{
                    >li{
                        position: relative;
                        text-indent: 15px;
                        font-size: 13px;
                        color: $mainColor-3;
                        &::before{
                            position: absolute;
                            content: '';
                            width: 2px;
                            height: 2px;
                            border-radius: 1px;
                            background-color: $mainColor-3;;
                            top: 8px;
                            left: 6px;
                        }
                    }
                }
            }
        }
        >.step3{
            width:1200px;
            margin: 0 auto;
            margin-top: 100px;
            margin-bottom: 100px;
            >h3{
                color: $mainColor-4;
                font-size: 30px;
                border-bottom: 2px solid $mainColor-4;
            }
            >form{
                >ul{
                    >li{
                        padding: 30px ;
                        border-bottom: 1px solid #ccc;
                        .col1{
                            display: inline-block;
                            width: 170px;
                            font-size: 20px;
                            color: $mainColor-4;
                        }
                        input[type = text], input[type = password]{
                            display: inline-block;
                            width: 350px;
                            height: 36px;
                            color: $mainColor-4;
                            border: 1px solid #ccc;
                        }
                        input[type = radio]{
                            appearance: none;
                            width: 20px;
                            height: 20px;
                            position: relative;
                            top: 5px;
                            left: 3px;
                            background: url(../img/sub3/element_radio.png) no-repeat 0 0;
                        }
                        input[type = radio]:checked{
                            background: url(../img/sub3/element_radio.png) no-repeat 0 100%;
                        }

                    }
                    >.id_wrap{
                        position: relative;
                        >a{
                            display: inline-block;
                            width: 76px;
                            height: 36px;
                            line-height: 36px;
                            border-radius: 18px;
                            text-align: center;
                            background-color: $mainColor-3;
                            color: #fff;
                            font-size: 14px;
                        }
                        >span{
                            display: block;
                            font-size: 14px;
                            color: $mainColor-3;
                            padding-top: 5px;
                            padding-left: 175px;
                        }
                    }
                    >.addr_wrap{
                        position: relative;
                        margin: 30px;
                        border: none;
                        height: 112px;
                        >.addr-row1{
                            position: absolute;
                            top: 0;
                            left: 0;
                            >a{
                                display: inline-block;
                                width: 100px;
                                height: 36px;
                                line-height: 36px;
                                border-radius: 18px;
                                text-align: center;
                                background-color: $mainColor-3;
                                color: #fff;
                                font-size: 14px;
                            }
                        }
                        >.addr-row2{
                            position: absolute;
                            top: 46px;
                            left: 174px;
                            >label{
                                display:none;
                            }
                        }
                    }
                }
            }
            >.btn-box{
                border-top: 1px solid #ccc;
                position: relative;
                width: 100%;
                height: 100px;
                margin-bottom: 30px;
                >a{
                    position: absolute;
                    top: 50px;
                    width: 150px;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    border-radius: 25px;
                    font-size: 20px;
                    box-shadow: 0 0 3px gray;
                }
                >a:nth-child(1){
                    background-color: #fff;
                    left: 50%;
                    transform: translateX(-160px);
                }
                >a:nth-child(2){
                    background-color: $mainColor-1;
                    color: #fff;
                    left: 50%;
                    transform: translateX(+10px);
                }
            }
        }
    }
    .id-dp-wrap{
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10000;
        &.on{
            display:block;
        }
        .id-dp{
            position: relative;
            width: 360px;
            height: 300px;
            top: calc((100vh - 300px) / 2);
            margin: 0 auto;
            background-color: #fff;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            >h4{
                font-size: 20px;
                color: #fff;
                width: 100%;
                height: 60px;
                line-height: 60px;
                background-color: $mainColor-1;
                font-weight: normal;
                text-align: center;
            }
            >.iddpClose{
                text-indent: -9999px;
                position: absolute;
                top: 5px;
                right: 5px;
                background: url(../img/sub3/sub3-dp-close.png) no-repeat 0 0;
                background-size: cover;
                width: 30px;
                height: 30px;
            }
            >fieldset{
                padding: 10px;
                >label{
                    position: relative;
                    display: inline-block;
                    margin: 10px 58px;
                    width: 225px;
                    height: 34px;
                    > input[type = text]{
                        display: inline-block;
                        width: 150px;
                        height: 34px;
                        border: 1px solid #ccc;
                    }
                    >a{
                        position: absolute;
                        top: 0;
                        right: 1px;
                        display: inline-block;
                        width: 75px;
                        height: 35px;
                        line-height: 32px;
                        text-align: center;
                        border: 1px solid #ccc;
                        color: #fff;
                        background-color: $mainColor-1;
                        font-size: 14px;
                    }
                }
                >p{
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
            >ul{
                padding: 10px;
                color: $mainColor-3;
                >li{
                    position: relative;
                    text-indent: 10px;
                    font-size: 13px;
                    &:before{
                        position: absolute;
                        content:'';
                        width: 2px;
                        height: 2px;
                        border-radius: 1px;
                        background-color: $mainColor-3;
                        top: 8px;
                        left: 5px;
                    }
                }
            }
            >.used-id{
                position: absolute;
                width: 100px;
                height: 30px;
                line-height: 26px;
                background-color: $mainColor-1;
                border-radius: 15px;
                left: calc(50% - 50px);
                bottom: 5px;
                color: #fff;
                border: 1px solid #ccc;
                text-align: center;
                font-size: 14px;
            }
        }
    }
}
#footer {
    width: 100%;
    height: 200px;
    background: #fff;
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        border-top: 1px solid #c3c3c3;
        border-bottom: 1px solid #c3c3c3;
        background-color: transparent;
    }

    >.footer-wrap {
        width: 1200px;
        margin: 0 auto;

        >.footer-sec-1 {
            position: relative;
            height: 60px;
            line-height: 60px;

            >ul {
                overflow: hidden;

                >li {
                    float: left;
                    margin: 0 45px;
                    color: $mainColor-3;
                }
            }
        }

        >.footer-sec-2 {
            position: relative;

            >.sec-2-address {
                position: absolute;
                top: 20px;
                left: 45px;
                color: $mainColor-3;
            }

            >.sec-2-visit-num {
                >ul {
                    >li:nth-child(1) {
                        position: absolute;
                        top: 30px;
                        right: 255px;
                        width: 143px;

                        >.sec-2-txt {
                            color: #c5c5c5;
                            font-size: 16px;

                            +span {
                                font-size: 30px;
                            }
                        }
                    }

                    >li:nth-child(2) {
                        position: absolute;
                        top: 30px;
                        right: 70px;
                        text-align: left;

                        >.sec-2-txt {
                            color: #c5c5c5;
                            font-size: 16px;

                            +span {
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    >.btn-top {
        width: 70px;
        height: 70px;
        position: fixed;
        right: 0px;
        bottom: 0px;
    }
}
@media(min-width : 768px)and(max-width : 1199px) {
    #header {
        width: 100%;
        height: 80px;

        &::before {
            content: '';
            width: 200px;
            height: 40px;
            background: url(../img/common/logo-formal.png) no-repeat 50% 50%;
            background-size: cover;
            top: 20px;
            left: 10px;
        }

        .tnb {
            display: none;
        }
        .gnb {
            width: 100%;
            height: 80px;

            >.gnb_ul {
                display: none;
            }

            .all-menu-icon {
                top: 30px;
                right: 20px;
            }
        }
    }
    #container {
        .all-menu {
            position: fixed;
            width: 260px;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.9);
            top: 0;
            left: -300vw;
            transition: 0.7s;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
      
            .all-menu-wrap {
              position: relative;
              width: 100%;
              margin: 0 auto;
      
              >img {
                position: absolute;
                top: 0px;
                right: -40px;
                width: 40px;
                height: 40px;
                cursor: pointer;
                box-shadow: 3px 0 5px gray;
              }
      
              >.all-menu-user_section {
                margin: 20px;
                display: block;
                font-size: 16px;
                text-align: center;
                color: #fff;
                position: relative;
      
                &::after {
                  content: '';
                  position: absolute;
                  left: 102px;
                  top: 5px;
                  width: 1px;
                  height: 17px;
                  background-color: #fff;
                }
      
                .all-menu-signup {
                  margin-left: 20px;
                }
              }
      
              >.all-menu__ul {
                display: block;
                width: 100%;
                height: 60vh;
                margin: 0 auto;
                overflow-x: auto;
                overflow-y: scroll;
                margin-top: 100px;
                color: #fff;
                position: relative;
                -ms-overflow-style: none;
                scrollbar-width: none;
      
                &::-webkit-scrollbar {
                  display: none;
                }
      
                >li {
                  float: none;
                  width: auto;
                  height: auto;
                  padding: 0;
                  text-align: center;
                  position: relative;
      
                  &:last-child {
                    border-bottom: 1px solid $mainColor-2;
                  }
      
                  >a {
                    position: relative;
                    font-size: 22px;
                    height: 40px;
                    line-height: 40px;
                    text-align: left;
                    text-indent: 20px;
                    padding: 0;
                    border-top: 1px solid $mainColor-2;
                    border-bottom: none;
                    font-weight: normal;
                    &::after {
                      content: '';
                      position: absolute;
                      width: 25px;
                      height: 25px;
                      top: 7.5px;
                      right: 10px;
                      background: url(../img/common/plus_i.png) no-repeat 50% 50%;
                      background-size: cover;
                      cursor: pointer;
                    }
                    &.on {
                      &::after {
                        background: url(../img/common/minus_i.png);
                      }
                    }
                  }
      
                  >ul {
                    display: none;
      
                    >li {
                      font-size: 16px;
                      height: 30px;
                      line-height: 30px;
                      text-align: left;
                      text-indent: 30px;
      
                      &:first-child {
                        padding-top: 0;
                        border-top: 1px solid #fff;
                      }
      
                      &:last-child {
                        margin-bottom: 5px;
                      }
                    }
                  }
                }
              }
            }
          }

        .login-form {
            z-index: 9999;
        }

        .bg-slide {
            width: 1920px;
            height: 285px;
            overflow: hidden;
        }

        .sub-title-txt {
            height: 285px;
            padding-top: 145px;
        }
        .icon-img-wrap{
            .icon-img{
                width: 100%;
                >li{
                    >a{
                        &::after{
                            top: 65px;
                            right: -25%;
                        }
                    }
                }
            }
        }
        .join-wrap{
            >.step1{
                width: 100%;
                >div{
                    >p{
                        width: calc(100vw - 60px);
                    }
                }
            }
            >.step2{
                width: 100%;
                .step2-txt_1{
                    padding: 30px calc((100vw - 622px) / 2);
                }
            }
            >.step3{
                width: 100%;
                >form{
                    >ul{
                        >.id_wrap{
                            >span{
                                font-size: 14px;
                                &:last-child{
                                    font-size: 13px;
                                }
                            }
                        }
                        .addr_wrap{
                            >.addr-row2{
                                >input[type="text"]{
                                    &:last-child{
                                        margin-top: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #footer {
        height: 100%;

        &::before {
            display: none;
        }

        >.footer-wrap {
            width: 100%;

            >.footer-sec-1 {
                display: none;
            }

            >.footer-sec-2 {
                >.sec-2-address {
                    display: none;
                }

                >.sec-2-visit-num {
                    >ul {
                        overflow: hidden;
                        clear: both;
                        padding: 20px 0;
                        margin: 0 20px;
                        border-top: 1px solid #ccc;

                        >li:nth-child(1) {
                            position: static;
                            float: left;
                            width: 50%;
                            text-align: center;
                        }

                        >li:nth-child(2) {
                            position: static;
                            float: left;
                            width: 50%;
                            text-align: center;
                        }
                    }

                    &::after {
                        content: 'COPYRIGHT (C) (주)유성 ALL RIGHTS RESEVED';
                        display: block;
                        width: 100%;
                        height: 30px;
                        background-color: #fff;
                        text-align: center;
                    }
                }
            }
        }

        >.btn-top {
            width: 50px;
            height: 50px;
            position: fixed;
            right: 0px;
            bottom: 0px;
        }
    }
}
@media (max-width: 767px) {
    #header {
        width: 100%;
        height: 80px;

        &::before {
            content: '';
            width: 200px;
            height: 40px;
            background: url(../img/common/logo-formal.png) no-repeat 50% 50%;
            background-size: cover;
            top: 20px;
            left: 10px;
        }

        .tnb {
            display: none;
        }

        .gnb {
            width: 100%;
            height: 80px;

            >.gnb_ul {
                display: none;
            }

            .all-menu-icon {
                top: 30px;
                right: 20px;
            }
        }
    }

    #container {
        .all-menu {
            position: fixed;
            width: 260px;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.9);
            top: 0;
            left: -300vw;
            transition: 0.7s;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
      
            .all-menu-wrap {
              position: relative;
              width: 100%;
              margin: 0 auto;
      
              >img {
                position: absolute;
                top: 0px;
                right: -40px;
                width: 40px;
                height: 40px;
                cursor: pointer;
                box-shadow: 3px 0 5px gray;
              }
      
              >.all-menu-user_section {
                margin: 20px;
                display: block;
                font-size: 16px;
                text-align: center;
                color: #fff;
                position: relative;
      
                &::after {
                  content: '';
                  position: absolute;
                  left: 102px;
                  top: 5px;
                  width: 1px;
                  height: 17px;
                  background-color: #fff;
                }
      
                .all-menu-signup {
                  margin-left: 20px;
                }
              }
      
              >.all-menu__ul {
                display: block;
                width: 100%;
                height: 60vh;
                margin: 0 auto;
                overflow-x: auto;
                overflow-y: scroll;
                margin-top: 100px;
                color: #fff;
                position: relative;
                -ms-overflow-style: none;
                scrollbar-width: none;
      
                &::-webkit-scrollbar {
                  display: none;
                }
      
                >li {
                  float: none;
                  width: auto;
                  height: auto;
                  padding: 0;
                  text-align: center;
                  position: relative;
      
                  &:last-child {
                    border-bottom: 1px solid $mainColor-2;
                  }
      
                  >a {
                    position: relative;
                    font-size: 22px;
                    height: 40px;
                    line-height: 40px;
                    text-align: left;
                    text-indent: 20px;
                    padding: 0;
                    border-top: 1px solid $mainColor-2;
                    border-bottom: none;
                    font-weight: normal;
                    &::after {
                      content: '';
                      position: absolute;
                      width: 25px;
                      height: 25px;
                      top: 7.5px;
                      right: 10px;
                      background: url(../img/common/plus_i.png) no-repeat 50% 50%;
                      background-size: cover;
                      cursor: pointer;
                    }
                    &.on {
                      &::after {
                        background: url(../img/common/minus_i.png);
                      }
                    }
                  }
      
                  >ul {
                    display: none;
      
                    >li {
                      font-size: 16px;
                      height: 30px;
                      line-height: 30px;
                      text-align: left;
                      text-indent: 30px;
      
                      &:first-child {
                        padding-top: 0;
                        border-top: 1px solid #fff;
                      }
      
                      &:last-child {
                        margin-bottom: 5px;
                      }
                    }
                  }
                }
              }
            }
          }

        .login-form {
            z-index: 9999;
        }

        .bg-slide {
            width: 1920px;
            height: 285px;
            overflow: hidden;
        }

        .sub-title-txt {
            height: 285px;
            padding-top: 145px;
        }
        .icon-img-wrap{
            display: none;
        }
        .join-wrap{
            >.step1{
                margin-top: 100px;
                width: 100%;
                >h3{
                    text-indent: 10px;
                }
                >div{
                    >p{
                        width: calc(100vw - 60px);
                    }
                }
            }
            >.step2{
                width: 100%;
                >h3{
                    text-indent: 10px;
                }
                .step2-txt_1{
                    padding: 30px calc((100vw - 605px) / 2);
                    height: auto;
                    >img{
                        display: none;
                    }
                    >div{
                        width: 360px;
                        text-align: center;
                        float: none;
                        margin: 0 auto;
                        padding: 14px 0;
                    }
                    a{
                        float: none;
                        margin: 0 auto;
                    }
                }
                .step2-txt_2{
                    >ul{
                        >li{
                            text-align: center;
                            word-break: keep-all;
                            text-indent: 0;
                            padding-top: 5px;
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
            }
            >.step3{
                width: 100%;
                word-break: keep-all;
                >h3{
                    text-indent: 10px;
                }
                >form{
                    >ul{
                        >li{
                            .col1{
                                display: block;
                                width: 110px;
                                font-size: 18px;
                            }
                            input[type = text], input[type = password]{
                                margin: 10px 0;
                                width: calc(100vw - 60px);
                            }
                            input[type = radio]{
                                top: 5px;
                                left: 3px;
                            }
                        }
                        >.id_wrap{
                            >a{
                                position: absolute;
                                width: 70px;
                                height: 25px;
                                line-height: 25px;
                                top: 30px;
                                left: 85px;
                            }
                            >span{
                                padding: 0;
                                padding-bottom: 5px;
                                &:last-child{
                                    font-size: 13px;
                                }
                            }
                        }
                        .addr_wrap{
                            padding: 0;
                            height: 183px;
                            >.addr-row1{
                                >a{
                                    position: absolute;
                                    height: 25px;
                                    line-height: 25px;
                                    top: 0;
                                    left: 40px;
                                }
                            }
                            >.addr-row2{
                                top: 80px;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    #footer {
        height: 100%;

        &::before {
            display: none;
        }

        >.footer-wrap {
            width: 100%;

            >.footer-sec-1 {
                display: none;
            }

            >.footer-sec-2 {
                >.sec-2-address {
                    display: none;
                }

                >.sec-2-visit-num {
                    >ul {
                        overflow: hidden;
                        clear: both;
                        padding: 20px 0;
                        margin: 0 20px;
                        border-top: 1px solid #ccc;

                        >li:nth-child(1) {
                            position: static;
                            float: left;
                            width: 50%;
                            text-align: center;
                        }

                        >li:nth-child(2) {
                            position: static;
                            float: left;
                            width: 50%;
                            text-align: center;
                        }
                    }

                    &::after {
                        content: 'COPYRIGHT (C) (주)유성 ALL RIGHTS RESEVED';
                        display: block;
                        width: 100%;
                        height: 30px;
                        background-color: #fff;
                        text-align: center;
                    }
                }
            }
        }

        >.btn-top {
            width: 40px;
            height: 40px;
            position: fixed;
            right: 0px;
            bottom: 0px;
        }
    }
}
